<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>mongo hw</title>
</head>
<body>
	<header style="text-align: center;">
		<h1> christmas break hw assignment! </h1>
		<h3> because nothing says "enjoy your break" like forcibly taking time away from your family across the country you only get to see once a year yayyy</h3>
		<img src="https://media.gettyimages.com/photos/man-dressed-as-santa-claus-showing-middle-finger-while-sitting-on-picture-id707552043" alt="merry fucking christmas" style= "max-width: 400px;">
		<h6> i know you have to so don't take it personally, but that still doesn't make me any happier about it. <h6>
	</header>	
	<hr>
		<h2> articles </h2>
	{{{body}}}
</body>
</html>